.main-home{
    padding: 5em;
    div, main{
        border-radius: 1em;
    }
    main{
        padding: 2em;
        background-color: var(--light_blue2);
        display: flex;
        flex-direction: column;
        align-items: center;
        .anime-list{
            padding: 2em;
            border: 1px white solid;
            width: 100%
        }
    }
}